body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  font-size: 10px;
  
}
#bg-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.content{
  font-size: large;
  text-align: left;
  padding:20px;
  background-color: snow;
  margin-bottom: 20px;
  opacity: 0.8;
}
h1 {
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #333;
}

/* #character-container {
  margin-top: 20px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
} */

#character-list{
  width: auto;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.character-card {
  opacity: 0.9;
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding:20px;
  border-radius: 10px;
  aspect-ratio: 1;
}
.character-card:hover{
  opacity: 1;
}

.character-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.character-info {
  margin-bottom: 8px;
}

.character-image {
  width: 120px;
  max-width: 200px;
  margin-bottom: 8px;
  aspect-ratio: 1;
}

.character-description {
  text-align: left;
}

.character-rarity {
  font-weight: bold;
  color: #f44336;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f0f0f0;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  margin-bottom: 10px;
}

.card-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .card {
    width: 20%;
  }
}
